<select name="id_tags" id="tags" class="select">
    <option value="" selected disabled>Choose a category</option>
    {{#each tags}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>